@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

.josefinsans {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
