@media(max-width: 1080px){
    .h1{
        font-size: 65px;
    }
    .h2{
        font-size: 40px;
    }
    .h3{
        font-size: 40px;
    }
    #fed{
        font-size: 40px;
    }
    #AM, #bach{
        font-size: 35px;
        line-height: 45px;
    }
    #ws{
        font-size: 30px;
        margin-top: 38px;
    }
    #date{
        font-size: 30px;
    }
    /* #info{
        font-size: 20px;
    } */
    #skn{
        font-size: 35px;
    }
    #infoBx{
        position: absolute;
        top: 45px;
        right: 20px;
        font-size: 25px;
    }
    body{
        padding: 0 20px;
        display: block;
        position: relative;
    }
    .section{
        width: 100%;
    }
    .aside{
        width: 100%;
        padding: 0;
    }
    #end{
        padding-bottom: 50px;
    }
}