*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Open Sans;
}
body{
    padding: 0 175px;
    display: flex;
    justify-content: space-between;
}
section{
    padding: 50px 0;
    width: 65%;
}
h1{
    font-family: josefin sans;
    font-size: 50px;
}
.FED{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 79px;
}
h2{
    color: #2079c7;
    font-size: 15px;
}
.AM{
    font-family: Merriweather;
    font-size: 20px;
    padding-top: 20px;
    text-align: justify;
    line-height: 30px;
}
.WS{
    display: flex;
}
.ws{
    margin-top: 32px;
    margin-left: 10px;
    color: dimgray;
    font-size: 15px;
    font-family: comfortaa;
}
a{
    font-family: Merriweather;
    font-size: 18px;
}
aside{
    padding: 50px 0;
    padding-left: 40px;
    width: 35%;
}
.infoBx{
    margin-bottom: 50px;
}
.info{
    display: block;
}
.contacs, .number{
    font-weight: 700;
}
.location{
    font-weight: 500;
}
.skn{
    color: dimgray;
    margin-top: 25px;
    font-family: Merriweather;
    font-size: 18px;
}
.ln{
    margin-top: 50px;
}
.date{
    color: dimgray;
    margin-top: 10px;
    font-size: 15px;
    font-family: comfortaa;
}
h3{
    font-family: Merriweather;
    font-weight: medium;
    font-size: 20px;
    margin-top: 25px;
}
.bach{
    color: dimgray;
    margin-top: 10px;
    font-family: Merriweather;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}
.end{
    padding: 0;
}